#lobby_container {
  width: 70%;
}

#lobby_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
  border-radius: 3%;
}
#lobby_list > li > a {
  margin: 10px;
  background-color: white;
  border-radius: 5%;
  font-size: 2em;
  line-height: 2em;
  padding: 0 10px;
}

#lobby_list > li > a {
  text-decoration: none;
  color: black;
}
#lobby_list > li > a:hover {
  text-decoration: none;
  color: rgb(204, 145, 145);
}
#lobby_list > li > a:visited {
  text-decoration: none;
  color: black;
}
