#mypage-container {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.change_profile {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 80%;
}

.change_profile * {
	line-height: 1.2em;
	font-size: 1.1em;
	width: 70%;
}

.profile_div {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.player_card {
	margin-left: 3%;
	width: 25vh;
	height: 35vh;
	border: 5px solid #ccaca6;
	background: #ffd7cf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	width: 25vh;
}

.player_card>* {
	margin: 4% 0;
	width: 90%;
	height: 2em;
}

.player_card>.profile_div {
	height: 60%;
	background: white;
}

.profile_div>.profile_img {
	width: 85%;
}

.player_card>.nickname {
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	line-height: 2.5em;
}

.player_card>.winlose {
	font-size: 1em;
	text-align: center;
}