
#game_container {
	display: flex;
	height: 80%;
	width: 100%;
	flex: auto;
	align-items: center;
	flex: auto;
}

#game_container>* {
	margin: 1%;
}

.player_side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.player_side>* {
	margin-bottom: 10%;
}

.player_card {
	width: 25vh;
	height: 35vh;
	border: 5px solid #ccaca6;
	background: #ffd7cf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.player_card>* {
	margin: 1% 0;
}

.player_card>.profile {
	width: 92%;
	height: 60%;
	background: white;
}

.player_card>.nickname {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	line-height: 2.5em;
}

.player_card>.winlose {
	font-size: 1.5em;
	text-align: center;
}

#game_buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#game_buttons>* {
	width: 30%;
	padding: 2%;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 2px
		rgba(0, 0, 0, 0.25);
	border: 1px solid #7f6b67;
	box-sizing: border-box;
}

#play_container {
	width: 50%;
	overflow: hidden;
	position: relative;
}

.omok_board {
	width: 100%;
	height: 100%;
	background: #ccaca6;
	border: 6px solid #7f6b67;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-collapse: separate;
	table-layout: fixed;
	border-radius: 20px;
}

.cell {
	border: 1.5px solid #7f6b67;
	width: 3vw;
	height: 3vw;
	table-layout: fixed;
}

#chat_container {
	width: 25%;
	height: 50em;
	min-height: 720px;
	background: #ffd7cf;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.game_chat {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 90%;
}

.game_chat>div {
	margin-top: 2%;
	padding: 2%;
}

.game_chat * {
	color: black;
}

.my_chat {
	margin-left: 5%;
	text-align: right;
	background: #fcffe7;
	width: 100%;
	line-height: 30px;
}

#your_chat_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	margin-right: 5%;
}

.your_profile {
	background: white;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.your_chat {
	text-align: left;
	background: #f9fcff;
	width: 65%;
	margin-left: 2%;
	padding: 2%;
	line-height: 30px;
}

.input_chat {
	width: 95%;
	height: 6em;
	margin-bottom: 3%;
	border-radius: 15px;
	background: #f9fcff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat {
	width: 95%;
	height: 6em;
	border-radius: 15px;
	background: #f9fcff;
}

.send_btn {
	padding-right: 2%;
	width: 20px;
}

#black_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 1;
	margin: 0%;
}

.alert {
	background-image: linear-gradient(to bottom, #ffffff 25px, #ffd7ce 25px);
	border: 1px solid #ccaca6;
	border-radius: 3%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 5%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.alert>* {
	margin: 2%;
	width: 80%;
}

.alert>.close_btn {
	margin: 0;
}

.profile {
	width: 16em;
	height: 10em;
	background: white;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_img {
	height: 70%;
	position: absolute;
}

.congratulations {
	font-size: 2em;
	text-align: center;
	width: 15em;
}

.ok_btn {
	margin-top: 5%;
	line-height: 2em;
	font-size: 1.5em;
	width: 4em;
}

b {
	font-size: 1.1em;
	font-weight: 700;
}

/* 임시저장 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas {
	border: 1px solid #000;
	cursor: pointer;
	background-color: yellow;
}

.button-group {
	margin-top: 10px;
}

#_chatbox {
	align-items: center;
	display: block;
	background-color: #ffd7cf;
	width: 300px;
	height: 650px;
	position: relative;
}

#sendbox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
}

#messageWindow {
	max-height: 600px;
	overflow-y: overlay;
}

#messageWindow::-webkit-scrollbar {
	width: 5px; /* 스크롤바의 너비 */
}

#messageWindow::-webkit-scrollbar-thumb {
	height: 20%; /* 스크롤바의 길이 */
	background: #fff; /* 스크롤바의 색상 */
	border-radius: 10px;
}

#messageWindow::-webkit-scrollbar-track {
	box-shadow: none;
	background-color: transparent;
}

#inputMessage {
	margin-left: 20px;
}

.chat_content1 {
	padding: 4px;
	width: fit-content;
	background-color: #fff;
	clear: both;
	border-radius: 10px;
}

.chat_content2 {
	padding: 4px;
	width: fit-content;
	background-color: #FCFFE7;
	float: right;
	clear: both;
	border-radius: 10px;
}

.profile_ic {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-bottom: 2px;
}

.notice {
	text-align: center;
	align-content: center;
	background-color: white;
	font-size: 14px;
}