/*헤더, 푸터*/
* {
  font-family: "Noto Sans", "나눔 고딕";
  font-weight: 400;
  font-style: normal;
  color: #7c7e7f;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #ffd7ce;
}
footer {
  margin-top: 150px;
}
/*메인*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

main > * {
  margin: 2rem;
}
/*에러 페이지*/
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font: 40px;
}
/*기본 핑크 배경에 상단 탑 바, 버튼 모양*/
.main_container {
  background-image: linear-gradient(to bottom, #ffffff 8%, #ffd7ce 8%);
  border: 1px solid #ccaca6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  padding-top: 5%;
  position: relative;
}

.main_container .close_btn {
  position: absolute;
  left: 95%;
  top: 1%;
}

/*버튼 기본값*/
input[type="submit"],
button {
  box-sizing: border-box;
  background: #f9fcff;
  border: 1px solid #7c7e7f;
  border-radius: 9px;
}

input[type="submit"]:hover,
button:hover {
  background: #7c7e7f;
  color: #f9fcff;
}
/*폰트 사이즈*/
.font_size1 {
  font-size: 16px;
}

.font_size2 {
  font-size: 24px;
}

.font_size3 {
  font-size: 32px;
}
/*가운데 정렬*/
.center {
  text-align: center;
  position: flex;
  align-items: center;
  justify-content: center;
}
/*입력칸 기본 테두리 지우기*/
input {
  border-width: 0;
}
/*라벨 기본 설정*/
label {
  font-size: 32px;
  background-color: #ffd7ce;
  text-align: center;
  padding: 5%;
}
/*a 태그 기본 설정*/
a {
  text-decoration: none;
}
