.create_room_container {
	background: #f9fcff;
	width: 30%; /* Adjusted width */
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centering content horizontally */
	padding: 2%;
}

.create_room_container>* {
	padding: 5%; /* Padding reduced for a cleaner look */
}

.create_title {
	text-align: center;
	font-size: 32px;
}

.input-group {
	width: 100%;
	margin-bottom: 10px; /* Reduced for a tighter layout */
	display: flex;
	justify-content: space-between;
	/* Aligns label and input side by side */
	align-items: center;
	line-height: 32px;
}

.input-group label {
	font-size: 24px;
	flex: 0 0 25%; /* Label width */
	text-align: center;
	margin-right: 10px; /* Space between label and input */
	width: 6em;
	padding: 2%;
}

.input-group input[type="text"], .input-group input[type="submit"],
	.input-group button.time-btn {
	flex: 1; /* Allows input and buttons to fill space */
	padding: 15px; /* Larger padding for better clickability */
	border-radius: 4px;
	border: 1px solid #FFD7CF;
}

.input-group button.time-btn {
	background-color: #f9fcff;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	flex: 1;
	font-size: 16px;
}

.input-group button.time-btn:hover, .input-group button.time-btn.active
	{
	background: #ffffff;
	border: 1px solid #FFD7CF;
}

.input-group input[type="submit"] {
	background-color: #FFD7CF;
	border: 1px solid #7C7E7F;
	font-size: 24px;
}

.input-group input[type="submit"]:hover {
	color: white;
	background-color: #ccaca6;
}

.time_group {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}