#main_container {
	width: 50%;
	height: 50%;
}

#login_form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#login_form>* {
	margin-top: 3%; width : 70%;
	padding: 10px;
	height: 40px;
	width: 70%;
}



#login_form>#user_info {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

#main_logo {
	width: 100%;
}

#header {
	height: 120px;
	font-size: 40px;
	line-height: 54px;
	color: #7C7E7F;
}